{# home.html #}
{% extends 'main.html' %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<form class="search-area" id="search-form" action="/search" method="POST">
    <div class="input">
        <input class="search" type="text" name="Search-Field" value="{{ value }}" id="search-box" placeholder="Search A Book" autocomplete="off">
        <img src="static/icons/search.svg">
    </div>
  </form>


{% if empty_search %}
<p>Sorry! No Such Books Found</p>
{% else %}
<main id="main-content">
    {% for book in books %}
      <div class="container">
        <div class="inner-containers" id="{{book['ID']}}" onclick="showReader('{{book['ID']}}')">
          <div class="image-container">
            <img draggable="false" class="book-image" src="{{ url_for('static', filename='thumbnails/' + book['Image']) }}">
          </div>
          <div class="book-details">
            <p class="name">{{ book['Name'] }}</p>
            <p class="author">{{ book['Author'] }}</p>
            <p class="details">{{ book['Date'] }} &#183; {{ book['Genre'] }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    <p class="section-title">All Books</p>
  </main>
  {% endif %}
{% endblock %}

{% block scripts %}
<script>
    moveIndicator(document.getElementById('homeBtn'));
    function moveIndicator(button) {
        const indicator = document.getElementById('indicator') ;
        
        const buttonRect = button.getBoundingClientRect();
        const navRect = button.parentElement.getBoundingClientRect();
        const offsetLeft = buttonRect.left - navRect.left;
        indicator.style.left = offsetLeft + 'px';
        indicator.style.width = button.offsetWidth + 'px';

    }

    window.addEventListener('resize', () => moveIndicator(document.getElementById('homeBtn')));

    document.addEventListener('DOMContentLoaded', function() {
        var input = document.getElementById('search-box');
        input.focus();
        input.setSelectionRange(input.value.length, input.value.length);
    });

    var timeoutId;
    
    document.getElementById('search-box').addEventListener('input', function() {
        // Clear the previous timeout, if any
        clearTimeout(timeoutId);

        // Get the input value
        var keyword = this.value;

        // Set a new timeout
        timeoutId = setTimeout(function() {
            // Submit the form
            document.getElementById('search-form').submit();
        }, 500); // Adjust delay as needed
    });
    
</script>

{% endblock %}
