{# home.html #}
{% extends 'main.html' %}


{% block styles %}
<link id="dynamic-css" rel="stylesheet" href="{{ url_for('static', filename='skinload.css') }}">
{% endblock %}

{% block content %}
<div id="skeleton-loader">
  <main id="main-content">
      {% for _ in range(28) %}
          <div class="container">
              <div class="inner-containers Skeleton">
              <div class="image-container">
                  
              </div>
              <div class="book-details">
                  <div class="name"></div>
                  <div class="author Skeleton"></div>
                  <div class="details Skeleton"></div>
              </div>
              </div>
          </div>
      {% endfor %}
  </main>
</div>

<div id="actual-content" style="display: none;">
  <div class="search-region">
    <form class="search-area" id="search-form" action="/search" method="POST">
        <div class="input">
            <input class="search" type="text" name="Search-Field" value="{{ value }}" id="search-box" placeholder="Search A Book" autocomplete="off">
            <img src="static/icons/search.svg">
        </div>
      </form>

      <div class="sort-area">
        <p>Sort By Genre</p>
        <form id="genre-form" action="/process_genre" method="post">
          <select class="genre-select" name="genre">
            <option value="All" {% if genre == 'All' %} selected {% endif %}>All</option>
            <option value="Drama" {% if genre == 'Drama' %} selected {% endif %}>Drama</option>
            <option value="Thriller" {% if genre == 'Thriller' %} selected {% endif %}>Thriller</option>
            <option value="Horror" {% if genre == 'Horror' %} selected {% endif %}>Horror</option>
            <option value="Historical" {% if genre == 'Historical' %} selected {% endif %}>Historical</option>
            <option value="Others/Unclassified" {% if genre == 'Others/Unclassified' %} selected {% endif %}>Others/Unclassified</option>
          </select>
        </form>
      </div>
  </div>


  {% if empty_search %}
  <p>Sorry! No Such Books Found</p>
  {% else %}
  <main id="main-content">
      {% for book in books %}
        <div class="container">
          <div class="inner-containers" id="{{book['ID']}}" onclick="showReader('{{book['ID']}}')">
            <div class="image-container">
              <img draggable="false" class="book-image" src="{{ url_for('static', filename='thumbnails/' + book['Image']) }}">
            </div>
            <div class="book-details">
              <p class="name">{{ book['Name'] }}</p>
              <p class="author">{{ book['Author'] }}</p>
              <p class="details">{{ book['Date'] }} &#183; {{ book['Genre'] }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      <p class="section-title">{{ genre }} Books</p>
    </main>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
   function waitForImages() {
        const images = document.querySelectorAll('#actual-content img');
        const imagePromises = Array.from(images).map(img => {
            if (img.complete) {
                return Promise.resolve();
            } else {
                return new Promise(resolve => {
                    img.onload = resolve;
                    img.onerror = resolve; // Handle error case as well
                });
            }
        });
        return Promise.all(imagePromises);
    }

    function loadContent() {
      // Swap CSS files
      var cssLink = document.getElementById('dynamic-css');
      cssLink.href = "{{ url_for('static', filename='home.css') }}";
        
      // Hide skeleton loader
        document.getElementById('skeleton-loader').style.display = 'none';
        
        
        // Show actual content
        document.getElementById('actual-content').style.display = 'block';
        
    }

    document.addEventListener('DOMContentLoaded', function() {
        waitForImages()
            .then(loadContent)
            .then(() => {
                console.log('All content loaded');
            })
            .catch(error => {
                console.error('Error loading content:', error);
                loadContent(); // Fallback to show content even if some images fail to load
            });
    });

    var genreSelect = document.querySelector('.genre-select');
    genreSelect.addEventListener('change', function(){
        document.getElementById('genre-form').submit();
    });

    
</script>

<script>
  if(`{{ alert }}`){
    alert(`{{ alert }}`);
  }



    moveIndicator(document.getElementById('homeBtn'));
    function moveIndicator(button) {
        const indicator = document.getElementById('indicator') ;
        
        const buttonRect = button.getBoundingClientRect();
        const navRect = button.parentElement.getBoundingClientRect();
        const offsetLeft = buttonRect.left - navRect.left;
        indicator.style.left = offsetLeft + 'px';
        indicator.style.width = button.offsetWidth + 'px';

    }

    window.addEventListener('resize', () => moveIndicator(document.getElementById('homeBtn')));

    document.addEventListener('DOMContentLoaded', function() {
        var input = document.getElementById('search-box');
        input.focus();
        input.setSelectionRange(input.value.length, input.value.length);
    });

    var timeoutId;
    
    document.getElementById('search-box').addEventListener('keyup', function() {
        // Clear the previous timeout, if any
        clearTimeout(timeoutId);

        // Get the input value
        var keyword = this.value;

        var encodedKeyword = encodeURIComponent(keyword);
        console.log("Encoded keyword: ", encodedKeyword);

        var formData = new FormData(document.getElementById('search-form'));
        for (var pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
        }

        // document.getElementById('search-box').value = encodedKeyword;

        // Set a new timeout
        timeoutId = setTimeout(function() {


            // Submit the form
            console.log(document.getElementById('search-form').value);
            document.getElementById('search-form').submit();
        }, 500); // Adjust delay as needed
    });
    
</script>

{% endblock %}
