<!DOCTYPE html>
<html>
<head>
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <title>Library Homepage</title>
</head>
<body>
    <nav>
        <button id="homeBtn">Library</button>
        <button id="addBookBtn">Admin</button>
        <button id="aboutBtn">About</button>
        <div id="indicator"></div>
    </nav>

    <div class="main-area">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Nav Content Load & Animations -->
    <script>
        document.getElementById('homeBtn').addEventListener('click', function() {
            window.location.href = '/home';
        });
        
        document.getElementById('addBookBtn').addEventListener('click', function() {
            window.location.href = '/login';
        });
        
        document.getElementById('aboutBtn').addEventListener('click', function() {
            window.location.href = '/about'
        });
        </script>

    <!-- Open Reader -->
    <script>
        function showReader(bookId, lastPage) {
            window.open("/reader/" + bookId + "/" + lastPage, "_blank");
        }
    </script>


    {% block scripts %}
    <!-- Default JavaScript code -->
    {% endblock %}

</body>
</html>